<div class="container col-xs-12 col-md-4 col-md-offset-4 text-center">
  <div class="form_card">
  <h2>Create your account</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-inputs-sign">
      <%= f.input :first_name,
                  required: true,
                  placeholder: 'First name',
                  label: false,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" } %>
      <%= f.input :last_name,
                  placeholder: 'Last name',
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" } %>
      <%= f.input :email,
                  placeholder: 'Email',
                  label: false,
                  required: true,
                  autofocus: true ,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  placeholder: 'Password',
                  label: false,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  placeholder: 'Password confirmation',
                  label: false,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
                  <hr></hr>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create", class: 'btn btn-primary btn-log' %>
    </div>
  <% end %>

  <div class="devise"><%= render "devise/shared/links" %></div>
</div>
</div>
