<div class="container">
  <div class="row">
    <h1>Bonjour <%= current_user.first_name %></h1>
    <div class="tabs">
      <%= link_to owner_cats_path, class: "tab" do  %>
        <h2>My cats</h2>
      <% end %>
      <%= link_to owner_bookings_path, class: "tab active" do  %>
        <h2>My bookings</h2>
      <% end %>
      <%= link_to bookings_path, class: "tab" do  %>
        <h2>My rented cats</h2>
      <% end %>
      <%= link_to profile_path, class: "tab" do  %>
        <h2>My profile</h2>
      <% end %>
    </div>
  	<% @bookings.each do |booking| %>
      <div class="message">
        <%= cl_image_tag(booking.cat.photo, width: 70, height: 70, crop: :fill, class: "img-circle")%>
        <div class="message-name">
          <%= link_to cat_path(booking.cat) do  %>
          <h3><%= booking.cat.name %></h3>
          <% end %>
        </div>
        <div class="message-body">
          <p>From: <%= booking.begin_date %> to: <%= booking.end_date %></p>
          <p>Renter: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
          <p>Message: <%= booking.message.nil? ? "No message" : booking.message %></p>
        </div>
        <div class="message-status text-center">
          <div class="<%= booking.status %>">
            <p>status: <span> <%= booking.status %></span></p>
          </div>
          <p>Price: <span> <%= booking.total_price %> euro</span></p>
          <% if booking.status == 'pending' %>
            <%= link_to 'Accept', accept_owner_booking_path(booking), method: :patch, class: 'btn btn-success' %>
  	        <%= link_to 'Deny', deny_owner_booking_path(booking), method: :patch, class: 'btn btn-danger' %>
         <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
