<div class="container">
  <h1>Bonjour <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-4">
          <div class="flex">
            <div>
              <div class="booking-card-image" style="background-image: url('<%= booking.cat.photo_url %>')"></div>
            </div>
            <div>
              <h4><%= booking.cat.name %></h4>
              <p>Your reserverd a cat from <%= booking.begin_date %> to <%= booking.end_date %></p>
              <p><%= booking.message %></p>
              <p> Your status is <span> <%= booking.status %></span></p>
              <p> You paid for <%= booking.cat.name %><span> <%= booking.total_price %> euros </span></p>
           </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
