<div class="container">
	<h1>Bonjour <%= current_user.first_name %></h1>
	<div class="row">
    <div class="tabs">
      <%= link_to owner_cats_path, class: "tab" do  %>
        <h2>My cats</h2>
      <% end %>
      <%= link_to owner_bookings_path, class: "tab" do  %>
        <h2>My bookings</h2>
      <% end %>
      <%= link_to bookings_path, class: "tab active" do  %>
        <h2>My rented cats</h2>
      <% end %>
      <%= link_to profile_path, class: "tab" do  %>
        <h2>My profile</h2>
      <% end %>
    </div>
    <% @bookings.each do |booking| %>
      <div class="message">
        <%= cl_image_tag(booking.cat.photo, width: 70, height: 70, crop: :fill, class: "img-circle")%>
        <div class="message-name">
          <h3><%= booking.cat.name %></h3>
        </div>
        <div class="message-body">
          <p>From: <%= booking.begin_date %> to: <%= booking.end_date %></p>
          <p>Owner: <%= booking.cat.user.first_name %> <%= booking.cat.user.last_name %></p>
        </div>
        <div class="message-status text-center">
          <div class="<%= booking.status %>">
            <p>status: <span> <%= booking.status %></span></p>
          </div>
          <p>Price: <span> <%= booking.total_price %> euro</span></p>
          <%= link_to 'add a review', new_booking_review_path(booking) if booking.end_date.past?  %>
        </div>
      </div>
    <% end %>
	  </div>
  </div>
