<div class="container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
  <div class="form_card">
    <h2>Edit <%= @cat.name %></h2>
   <%= simple_form_for([:owner, @cat]) do |f| %>
    <%= f.input :name, label: false, placeholder: 'Name' %>
    <%= f.input :breed, collection: @breeds, label: false %>
    <%= f.input :description, label: false, placeholder: 'Description' %>
    <%= f.input :birth_date, as: :string, required: false, input_html: {class: "datepicker-birth"}, label: false, placeholder: 'Birth date' %>
    <%= f.input :address, label: false, placeholder: 'Address' %>
    <div class="complex-input">
      <%= f.input :price_per_day, label: false, placeholder: 'Price per day' %>
      <p class="euro">€</p>
    </div>

    <div class="complex-input">
      <%= f.input :photo, label: (image_tag "picture.png", height: 35, width: 35, crop: :fill, alt: "picture-cat") %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
    <hr></hr>
    <div class="cta text-center">
    <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>

