
<div class="container">
  <h1>Bonjour <%= current_user.first_name %></h1>
  <div class="row">
      <% @cats.each do |cat| %>
      <div class="message">
        <%= cl_image_tag(cat.photo, width: 70, height: 70, crop: :fill, class: "img-circle")%>
        <div class="message-name">
          <h3><%= cat.name %></h3>
        </div>
        <div class="message-body">
          <p>Breed: <%= cat.breed %></p>
          <p>Description: <%= cat.description %></p>
          <p>Price per day: <%= cat.price_per_day %> €</p>
        </div>
        <div class="message-status">
          <ul style="list-style-type: none;" class="text-center">
            <li>
          <%= link_to 'edit', edit_owner_cat_path(cat)  %>

            </li>
            <li>

          <%= link_to 'delete', edit_owner_cat_path(cat)  %>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>



