<div class="main-container">
  <div class="card-container">
    <div class="row text-center">
      <h2>All Cats</h2>
    </div>
    <div class="row">
      <% @cats.each do |cat| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to cat_path(cat) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(cat.photo, height: 300, width: 400, crop: :fill) %>');">
              <div class="card-category"><%= cat.price_per_day %> € / day</div>
              <div class="card-description">
                <h2><%= cat.name %></h2>
                <p><%= cat.breed %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id='map' data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"></div>
</div>

<%= javascript_pack_tag 'map' %>
