<div class="container">
  <h1><%= @cat.name %></h1>
<%= cl_image_tag(@cat.photo, height: 300, width: 400, crop: :fill, class:"img-circle") %>

    <p><%= @cat.breed %> </p>
    <p><%= @cat.description %></p>
    <p><%= @cat.birth_date %></p>
    <p><%= @cat.price_per_day %> euros per day</p>
<%= link_to 'Return to all cats', cats_path %>

</div>
