<div class="container">
  <%= cl_image_tag(@cat.photo, height: 300, width: 400, crop: :fill) %>
  <h1><%= @cat.name %></h1>
  <p>Breed: <%= @cat.breed %></p>
  <p>Description: <%= @cat.description %></p>
  <p>Price per day: <%= @cat.price_per_day %></p>


  <%= link_to 'Book',  new_cat_booking_path(@cat), class: 'btn btn-primary'  %>
  <hr>
  <%= link_to 'Return to all cats', cats_path %>
</div>

