<div class="container">
  <%= cl_image_tag(@cat.photo, height: 300, width: 400, crop: :fill) %>

  <% if @owner_avatar.present? %>
    <%= cl_image_tag(current_user.photo, height: 75, width: 75, crop: :fill, alt: "user avatar",  class: "img-circle")%>
  <% else %>
    <%= image_tag "user.png", alt: "user avatar", height: 75, class: "img-circle"%>
  <% end %>

  <p><%= @owner_name %></p>


  <h1><%= @cat.name %></h1>
  <p>Breed: <%= @cat.breed %></p>
  <p>Description: <%= @cat.description %></p>
  <p>Price per day: <%= @cat.price_per_day %></p>


  <%= link_to 'Book',  new_cat_booking_path(@cat), class: 'btn btn-primary'  %>
  <hr>
  <%= link_to 'Return to all cats', cats_path %>
</div>

